.center-text {
    /* TODO 3.1: Align the text center or right */
    text-align: center;
    /* TODO 3.2: Change the color of the font to your favorite color */
    color: darksalmon;
    /* TODO 3.3: Make the font thicker */
    font-weight: bold;
    /* TODO 3.4: Increase the font size*/
    font-size: x-large;
    /* TODO 3.5: Add an underline to the text */
    text-decoration: underline;
}

.paragraph-style {
    /* TODO 3.6: Make the font italic */
    font-style: italic;
    /* TODO 3.7: Change the font to  */
    font-family:'Times New Roman', Times, serif;
    /* TODO 3.8: Increase the space between lines */
    line-height: 1.8;
}

.box {
    /* TODO 3.9: Set the width and height of the div. Try out the different units of HTML. px, em, %, in, rem  */
    width: 300px;
    height: 50px;
    /* TODO 3.10: Change the background color fo the div. Can you find a way to make the background color 50% transparent? */
    background-color: aqua, rgba(93, 244, 255, 0.5);
    /* TODO 3.11: Play around with the margin, padding and border. Can you find a way to set the size of specific sides? */
    margin-top: 30px;
    margin-bottom: 50px;
    margin-right: 30px;
    margin-left: 45px;

    border-left: 4px double #999;
    border-radius: 4px;
    border-bottom: 5px double #555;
    border-right: 4px double #777;
    border-top: 4px double #333;
    margin: 275px;

    padding-left: 75px;
    padding-top: 30px;
}